[run]
omit =
    */migrations/*
    .tox/*
    migration_scripts/*
    *site-packages*
    tests.py
    apps.py
    settins.py

source = ./movies
[report]
omit =
    */migrations/*
    .tox/*
    migration_scripts/*
    *site-packages*
    tests.py
    apps.py
    settins.py
    