[run]
omit =
    */migrations/*
    .tox/*
    migration_scripts/*
    *site-packages*

source = ./movies
[report]
omit =
    */__init__.py
    env/*
    */migrations/*
    .tox/*
    migration_scripts/*
    *site-packages*
